<div class="container">
    <h3>Lịch trực</h3>
    <div class="col-md-6 mx-auto border p-3">
        <div class="pt-3 text-center">
            <p class="current-date text-info"></p>
            <div class="icons">
                <span id="prev" class="material-symbols-rounded btn">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    <b>Tháng trước</b>
                </span>
                <span id="next" class="material-symbols-rounded btn">
                    <b>Tháng sau</b>
                    <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </span>
            
            </div>
        </div>
        <div class="calendar">
            <ul class="weeks list-unstyled">
                <li class="text-danger">CN</li>
                <li>Thứ 2</li>
                <li>Thứ 3</li>
                <li>Thứ 4</li>
                <li>Thứ 5</li>
                <li>Thứ 6</li>
                <li class="text-warning">Thứ 7</li>
            </ul>
            <ul class="days list-unstyled"></ul>
        </div>
    </div>
</div>
